flasgger
Flask
gunicorn
itsdangerous
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy
scipy==1.4.1
scikit-learn==0.22.1
pandas==1.0.3
nltk==3.4.5
flask
flask_restful
flask_bootstrap
flask_bootstrap4
firebase-admin
Pillow
numpy
requests
